@using System.Net.Http
@inject HttpClient Http
@using Blazorise
@using Blazorise.DataGrid
@using Blazorise.Components

<button @onclick="@NewData">Generate</button>
<div>Critical errors: @CriticalErrors</div>
<div>Warnings: @WarningErrors</div>
<DataGrid TItem="ErrorData"
          Data="@errors"
          ReadData="@OnReadData"
          RowStyling="@OnRowStyling"
          RowClicked="@ShowModal"
          @bind-SelectedRow="@_currentlySelectedError"
          SelectedRowStyling="@OnSelectedRowStyling">
    <DataGridCommandColumn TItem="ErrorData" />
    <DataGridColumn TItem="ErrorData" Field="@nameof(ErrorData.Date)" Caption="Date" Sortable="true" Editable="false" />
    <DataGridColumn TItem="ErrorData" Field="@nameof(ErrorData.IP)" Caption="IP Adress" Editable="false" />
    <DataGridColumn TItem="ErrorData" Field="@nameof(ErrorData.ErrorCode)" Caption="Error Code" Editable="false" />
    <DataGridColumn TItem="ErrorData" Field="@nameof(ErrorData.OS)" Caption="Operating System" Sortable="true" />
    <DataGridColumn TItem="ErrorData" Field="@nameof(ErrorData.Path)" Caption="Path" Editable="false" />
    <DataGridColumn TItem="ErrorData" Field="@nameof(ErrorData.Message)" Caption="Message" Editable="false" />
</DataGrid>

<Modal @ref="modalRef">
    <ModalContent Centered="true" Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>Error no NUMBER</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>Error Date</FieldLabel>
                <Text>@_currentlySelectedError.Date</Text>
            </Field>
            <Field>
                <FieldLabel>Error Code</FieldLabel>
                <Text>@_currentlySelectedError.ErrorCode</Text>
            </Field>
            <Field>
                <FieldLabel>Message</FieldLabel>
                <Text>@_currentlySelectedError.Message</Text>
            </Field>
            <Field>
                <FieldLabel>IP adress</FieldLabel>
                <Text>@_currentlySelectedError.IP</Text>
            </Field>
            <Field>
                <FieldLabel>Path</FieldLabel>
                <Text>@_currentlySelectedError.Path</Text>
            </Field>
            <Field>
                <FieldLabel>Additional text</FieldLabel>
                <Text>@_currentlySelectedError.AdditionalComments</Text>
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Blazorise.Color.Secondary" Clicked="@HideModal">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code {
    public ErrorData[] err;

    private ErrorData _currentlySelectedError = new ErrorData
    {
        OS = "DEFAULT",
        Date = "Default",
        ErrorCode = "DEFAULT",
        Message = "DEFAULT",
        Path = "DEFAULT",
        IP = "DEFAULT",
        ErrorLevel = Severity.Nominal
    };

    private Modal modalRef;
    

    private void ShowModal()
    {
        
        modalRef.Show();
    }

    private void HideModal()
    {
        modalRef.Hide();
    }

    ErrorData[] errors;
    int CriticalErrors = 0;
    int WarningErrors = 0;

    void SelectedError()
    {

    }


    async void NewData()
    {
        var r = await Http.GetStringAsync("https://localhost:5001/api/Error/25");
        r = r.Substring(1, r.Length - 2);
        var lines = r.Split(',');
        errors = new ErrorData[lines.Count()];
        for (int index = 0; index < lines.Count(); index++)
        {
            errors[index] = new ErrorData(lines[index]);
        }
        // always call StateHasChanged!
        UpdateWarningCount();
        StateHasChanged();
    }

    async Task OnReadData(DataGridReadDataEventArgs<ErrorData> e)
    {
        // this can be call to anything, in this case we're calling a fictional api
        //var response = await Http.GetFromJsonAsync<ErrorData[]>("https://localhost:5001/api/ErrorJson/10");
        var r = await Http.GetStringAsync("https://localhost:5001/api/Error/25");
        r = r.Substring(1, r.Length - 2);
        var lines = r.Split(',');
        errors = new ErrorData[lines.Count()];
        for (int index = 0; index < lines.Count(); index++)
        {
            errors[index] = new ErrorData(lines[index]);
        }
        // always call StateHasChanged!
        UpdateWarningCount();
        StateHasChanged();
    }
    void UpdateWarningCount()
    {
        CriticalErrors = errors.Where(i => i.ErrorLevel == Severity.Critical).Count();
        WarningErrors = errors.Where(i => i.ErrorLevel == Severity.Warning).Count();
    }

    void OnRowStyling(ErrorData err, DataGridRowStyling styling)
    {
        switch (err.ErrorLevel)
        {
            case Severity.Critical:
                styling.Style = "background-color: red; font-weight: bold; border: 1px solid black;";
                break;
            case Severity.Priority_1:
                styling.Style = "background-color: orange;";
                break;
            case Severity.Priority_2:
                styling.Style = "background-color: orange;";
                break;
            case Severity.Warning:
                styling.Style = "background-color: yellow;";
                break;
            case Severity.Nominal:
                styling.Style = "background-color: green;";
                break;
            default:
                break;
        }
    }

    void OnSelectedRowStyling(ErrorData err, DataGridRowStyling styling)
    {
        styling.Style = "border: 2px solid black; box-shadow: 2px 2px 4px #000000;";
    }


}
